.th1-removebg-preview.png{
    width: 200px;
    height: 100px;
}
.thbass-removebg-preview.th1-removebg-preview.png{
    width: 200px;
    height: 100px;
}
.logop{
    width: 50px;
    height: 50px;
}
.cart{
    margin-right: 90px;
    width: 50px;
    height: 50px;
}
header {
    grid-template-areas: cabeca;
    background-color: #6966668f;
    color: #fff;
    padding: 27px;
    text-align: center;
    left: 0;
    top: 0;
    margin-left: 7%; 
    box-sizing: border-box;
}
aside {
    grid-template-areas: secundario;
    background-color: #804848;
    padding: 8px;
    width: 8vw;  
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

aside img {
    display: block;
    margin-bottom: 20px;
}
aside nav ul {
    list-style: none;
    padding: 0;
}
aside nav ul li {
    margin-bottom: 10px;
}
aside nav ul li a {
    text-decoration: none;
    color: #ff4a4a;
}
aside nav ul li a:hover {
    color: #000000;
}
main{
    background-color: rgb(231, 231, 206);
    grid-template-areas: principal;
    margin-right: 10%; 
    box-sizing: border-box; 
    margin: auto;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}
footer{
    background-color: #333;
    color: #ceacac;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    min-height: 50px;
}
.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 20px;
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 23px;
    background-color: rgb(86, 99, 70);
    transition: 0.5s;
}
.card :hover{
    background-color: rgb(112, 96, 96);

}

.card img{
    width: 280px;
    height: 200px;
    border-radius: 5px;
}

.card a{
    border-radius: 10px;
    background-color: orange;
    display: block;
    height: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(76, 112, 84);
    transition: 1s;
}
.card a:hover{
    background-color: rgb(147, 183, 214);
    color: brown;
}



@media only screen and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        grid-template-areas:
        "cabeca, cabeca, cabeca"
        "secundario, secundario, secundario"
        "principal, principal, principal"
        "rodape, rodape, rodape"
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}

.elementomae{
    height: 300px;
    justify-content: space-between;
    border: 2px; color: rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}



